// CARRITO DE COMPRAS
.burbuja-carrito{
    position: fixed;
    bottom: 1rem;
    right: 0.25rem;
    background-color: $colorBaseNegro;
    padding: $espacioParrafos;
    border-radius: 50%;
    box-shadow: $sombra;
    z-index: 1;
    a{
        font-size: $sizeLogo;
        color: #fff;
    }
}

.carrito{
    max-height: 65vh;
    background-color: $colorCompClaro;
    position: fixed;
    bottom: 0.75rem;
    right: 2rem;
    overflow: auto;
    //box-shadow: $sombra;
    .contenido-modal{
        width: 95%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        .producto-carrito{
            @include card(100%);
            .datos{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-template-rows: repeat(2, auto);
                grid-template-areas: 
                "nombre cant sub eliminar"
                "precio cant sub eliminar";

                .nombre{
                    grid-area: nombre;
                    text-transform: capitalize;
                    font-weight: 500;
                    padding-left: $espacioParrafos;
                }
                .precio{
                    grid-area: precio;
                    padding-left: $espacioParrafos;
                }
                .cantidades, .subtotal-producto, .eliminar{
                    margin: auto;
                }
                .cantidades{
                    grid-area: cant;
                }
                .subtotal-producto{
                    grid-area: sub;
                }
                .eliminar{
                    grid-area: eliminar;
                }
            }
        }
    }
    
}
