.catalogo{
    .heading-catalogo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $espacioTitulos;
        h2{
            margin: 0;
        }
        .filtros{
            label{
                margin-left: $espacioParrafos;
            }
        }
        @media only screen and (max-width: 600px){
            display: unset;
            .filtros{
                margin-bottom: $espacioTitulos;
            }
        }
    }

    #catalogo{
        display: flex;
        flex-wrap: wrap;
        .producto{
            @include card (20%);
            margin-right: 5%;
            margin-bottom: $espacioSeccion;
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
            }
            .datos-producto{
                padding: $espacioParrafos;
                height: 100%;
                display: flex;
                flex-direction: column;
                .nombre-producto{
                    text-transform: capitalize;
                }
                .btn-agregar, .cant-producto{
                    width: 100%;
                    margin-top: auto;
                    margin-bottom: 0;
                }
            }
        }
        @media only screen and (max-width: 900px){
            .producto{
                @include card (30%);
                margin-right: 3%;
            }
        }
        @media only screen and (max-width: 600px){
            justify-content: space-between;
            .producto{
                @include card (45%);
                margin-right: 0;
            }
        }
    }
}