// RESET
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    font-family: $fuenteTextos;
    color: $colorBaseNegro;
    background-color: $colorBaseBlanco;
}

h1, h2{
    font-family: $fuenteTitulos;
    margin-bottom: $espacioTitulos;
}

section{
    margin-bottom: $espacioSeccion;
}

p, h3{
    margin-bottom: $espacioParrafos;
}

a{
    text-decoration: none;
    color: $colorBaseNegro;
}

button{
    transition: transform 0.1s;
    &:hover{
        transform: scale(1.05);
    }
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.deshabilitado{
    display: none;
}

.no-items{
    font-size: 1.25rem;
    font-family: $fuenteTitulos;
}

@mixin card($ancho){
    width: $ancho;
    margin-bottom: $espacioParrafos;
    background-color: $colorBaseBlanco;
    border: 1px solid rgba(48, 52, 64, 0.18);
}

@mixin fondoGlassmorph($color: rgba(255, 255, 255, 0.149), $siSombra: true){
    background: $color;
    @if $siSombra {
        box-shadow: $sombra;
    }
    backdrop-filter: blur( 7.0px );
    -webkit-backdrop-filter: blur( 7.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
